[Unit]
Description=Periodic OTA update check for sensor app

[Timer]
OnBootSec=30s
OnUnitActiveSec=5min
Unit=update_sensor.service

[Install]
WantedBy=timers.target
